# Telegram API (отримай на my.telegram.org)
TG_API_ID=22703500
TG_API_HASH=5a9956cfaf5e069ec2f37d5618ec0513
TG_PHONE=+380633885088

# Секретний ключ для Flask сесій
SECRET_KEY=cargo_sender_secret_2026

# Порт (Railway встановить автоматично)
PORT=5000
